parameters:
	ignoreErrors:
		-
			rawMessage: 'Method Dhl_Versenden_Block_Adminhtml_Form_Field_Participation::_getTemplateRenderer() should return Mage_Core_Block_Html_Select but returns Mage_Core_Block_Abstract|false.'
			identifier: return.type
			count: 1
			path: ../../../app/code/community/Dhl/Versenden/Block/Adminhtml/Form/Field/Participation.php

		-
			rawMessage: 'Property Dhl_Versenden_Block_Adminhtml_Form_Field_Participation::$_templateRenderer (Mage_Core_Block_Html_Select) does not accept Mage_Core_Block_Abstract|false.'
			identifier: assign.propertyType
			count: 1
			path: ../../../app/code/community/Dhl/Versenden/Block/Adminhtml/Form/Field/Participation.php

		-
			rawMessage: 'Method Dhl_Versenden_Block_Adminhtml_Sales_Order_Address_Form::_prepareForm() should return Mage_Adminhtml_Block_Sales_Order_Create_Billing_Address but returns $this(Dhl_Versenden_Block_Adminhtml_Sales_Order_Address_Form).'
			identifier: return.type
			count: 1
			path: ../../../app/code/community/Dhl/Versenden/Block/Adminhtml/Sales/Order/Address/Form.php

		-
			rawMessage: 'Return type (Mage_Adminhtml_Block_Sales_Order_Create_Billing_Address) of method Dhl_Versenden_Block_Adminhtml_Sales_Order_Address_Form::_prepareForm() should be compatible with return type ($this(Mage_Adminhtml_Block_Sales_Order_Address_Form)) of method Mage_Adminhtml_Block_Sales_Order_Address_Form::_prepareForm()'
			identifier: method.childReturnType
			count: 1
			path: ../../../app/code/community/Dhl/Versenden/Block/Adminhtml/Sales/Order/Address/Form.php

		-
			rawMessage: 'Parameter #1 $callback of function spl_autoload_register expects (callable(string): void)|null, array{$this(Dhl_Versenden_Helper_Autoloader), ''loadClass''} given.'
			identifier: argument.type
			count: 1
			path: ../../../app/code/community/Dhl/Versenden/Helper/Autoloader.php

		-
			rawMessage: 'Method Dhl_Versenden_Model_Adminhtml_System_Config_Source_Shipping_Products::toOptionArray() should return array<string> but returns list<array<string, (int|string)>>.'
			identifier: return.type
			count: 1
			path: ../../../app/code/community/Dhl/Versenden/Model/Adminhtml/System/Config/Source/Shipping/Products.php

		-
			rawMessage: 'Method Dhl_Versenden_Model_Config_Service::formatHandlingFeeText() is unused.'
			identifier: method.unused
			count: 1
			path: ../../../app/code/community/Dhl/Versenden/Model/Config/Service.php

		-
			rawMessage: 'Parameter #1 $label of method Mage_Sales_Model_Order_Shipment::setShippingLabel() expects string, null given.'
			identifier: argument.type
			count: 1
			path: ../../../app/code/community/Dhl/Versenden/Model/Observer.php

		-
			rawMessage: Variable $status in PHPDoc tag @var does not match assigned variable $statusLabel.
			identifier: varTag.differentVariable
			count: 1
			path: ../../../app/code/community/Dhl/Versenden/Model/Observer/Labelstatus.php

		-
			rawMessage: 'Cannot call method getAvailable() on Dhl\Versenden\Cig\Model\ModelInterface|true.'
			identifier: method.nonObject
			count: 1
			path: ../../../app/code/community/Dhl/Versenden/Model/Services/Processor.php

		-
			rawMessage: 'Argument of an invalid type Zend_Db_Statement supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 1
			path: ../../../app/code/community/Dhl/Versenden/data/dhl_versenden_setup/data-upgrade-1.1.2-1.1.3.php

		-
			rawMessage: Variable $this might not be defined.
			identifier: variable.undefined
			count: 3
			path: ../../../app/code/community/Dhl/Versenden/data/dhl_versenden_setup/data-upgrade-1.1.2-1.1.3.php

		-
			rawMessage: Trait Psr\Log\LoggerAwareTrait is used zero times and is not analysed.
			identifier: trait.unused
			count: 1
			path: ../../../lib/Dhl/Versenden/Psr/Log/LoggerAwareTrait.php

		-
			rawMessage: Trait Psr\Log\LoggerTrait is used zero times and is not analysed.
			identifier: trait.unused
			count: 1
			path: ../../../lib/Dhl/Versenden/Psr/Log/LoggerTrait.php
