/* size up the packaging popup for additional service and customs info */
.packaging-window {
    margin: -300px 0 0 -571px;
}

#packaging-dhlversenden-services,
#packaging-dhlversenden-customs {
    background: #f6f6f6;
    border: 2px solid #d4d4d4;
    margin: 0 0 10px;
    padding: 10px;
    overflow: hidden;
}

#packaging-dhlversenden-services > div,
#packaging-dhlversenden-customs > div {
    font-weight: bold;
}

#packaging-dhlversenden-services > dl,
#packaging-dhlversenden-customs > table {
    border-top: 1px solid #ccc;
    padding: 10px 0 0;
    margin: 3px 0 0;
    width: 100%;
}

#packaging-dhlversenden-services dt {
    min-height: 20px;
}

#packaging-dhlversenden-services dt {
    float: left;
    clear: left;
    min-width: 150px;
    padding-left: 20px;
    text-align: left;
    display: block;
    position: relative;
}

#packaging-dhlversenden-services dt label {
    font-weight: bold;
    padding-left: 20px;
    top: -3px;
    position: relative;
}

#packaging-dhlversenden-services dt input[type=checkbox] {
    position: absolute;
    left: 0;
    z-index: 100;
}

#packaging-dhlversenden-services dd {
    margin: 0 0 0 190px;
    padding: 0 0 0.5em 0;
}

#packaging-dhlversenden-services dd:after {
    content: '';
    display: table;
    clear: both;
}

#packaging-dhlversenden-services input[type=text] {
    width: 274px;
    padding: 2px;
}

#packaging-dhlversenden-services select {
    width: 280px;
    min-height: 17px;
}

#packaging-dhlversenden-services dt,
#packaging-dhlversenden-services dd {
    padding: 5px 0;
}

#packaging-dhlversenden-services dd.service-radio input {
    display: none;
}

#packaging-dhlversenden-services dd.preferredDay > div,
#packaging-dhlversenden-services dd.preferredTime > div {
    display: inline-block;
    width: 16%;
    max-width: 95px;
    background: #EEF4F2;
    margin-right: .6666666%;
}

#packaging-dhlversenden-services dd.preferredTime > div.notePreferredTime {
    display: block;
    width: 100%;
    max-width: 1000px;
    font-size: 10px;
    background: none;
    margin: 5px 0 0;
}

#packaging-dhlversenden-services dd.preferredDay > div label,
#packaging-dhlversenden-services dd.preferredTime > div label {
    display: block;
    text-align: center;
    cursor: pointer;
}

#packaging-dhlversenden-services dd.preferredDay > div input:not(:disabled):not(:checked) + label:hover,
#packaging-dhlversenden-services dd.preferredTime > div input:not(:disabled):not(:checked) + label:hover {
    background-color: #e3e3e3;
}

#packaging-dhlversenden-services dd.preferredDay > div label {
    border-top: 10px solid #ccc;
    padding: 8px 0;
}

#packaging-dhlversenden-services dd.preferredTime > div label {
    padding: 4px 0;
}

#packaging-dhlversenden-services dd.preferredDay > div span {
    display: block;
}

#packaging-dhlversenden-services dd.preferredDay > div input[disabled="disabled"] + label {
    color: #cecece;
    cursor: inherit;
}

#packaging-dhlversenden-services dd.preferredDay > div input:checked + label,
#packaging-dhlversenden-services dd.preferredTime > div input:checked + label {
    font-weight: bold;
    background-color: #fc0;
}

#packaging-dhlversenden-services dt.preferredDay,
#packaging-dhlversenden-services dt.preferredTime,
#packaging-dhlversenden-services dt.preferredLocation,
#packaging-dhlversenden-services dt.preferredNeighbour {
    float: none;
}

#carriers_dhlversenden ul.list-inline li {
    display: inline-block;
    margin: 0;
}

#carriers_dhlversenden ul.list-inline li:not(:last-child) {
    margin-right: 13px;
}

#carriers_dhlversenden ul.list-inline li label {
    display: inline-block;
    vertical-align: middle;
}
